################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeCrafters_Grupp_5_Bokningssystem/.vs/CodeCrafters_Grupp_5_Bokningssystem/FileContentIndex/1ac8d70c-1e8d-4060-9d76-44deeb75d51a.vsidx
/CodeCrafters_Grupp_5_Bokningssystem/.vs/CodeCrafters_Grupp_5_Bokningssystem/FileContentIndex/1ac8d70c-1e8d-4060-9d76-44deeb75d51a.vsidx
/.vs
